body {
  margin: 0;
  background-image: url(https://wallpapercave.com/wp/wp3474282.jpg);
  background-size: contain;
}

img {
  float: left;
  margin-right: 10px;
  width: 250px;
}
.social-media {
  float: left;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

footer .footer-copyright {
  margin-bottom: 5px;
  margin-top: 40px;
}

.card-body {
  background-color: rgb(214, 229, 235);  
}

.row {
  background-color: rgb(214, 229, 235);
}

